:root {
  --background-color: white;
  --button-color: #d6e5e3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

h1,
h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
}

h1 {
  margin: 100px auto 20px auto;
  font-size: 60px;
  text-shadow: 1px 1px 2px grey;
}

h3 {
  margin: 20px auto 0 auto;
  text-shadow: 1px 1px 2px grey;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px auto 20px auto;
  width: 600px;
  height: 40px;
}

button {
  display: flex;
  height: 40px;
  width: fit-content;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid;
  background-color: var(--button-color);
  opacity: 0.8;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
}

button:hover {
  opacity: 1;
}

span {
  margin: 5px;
}

#color-selector {
  margin: 4px;
}

.sketch-container {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  align-items: center;
  background-color: whitesmoke;
  margin: 0 auto 20px auto;
}

.slider-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  height: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.slider {
  width: 600px;
  appearance: none;
  height: 20px;
  background-color: whitesmoke;
  opacity: 0.7;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-transition: 0.2s;
}

slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  background: crimson;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.cell {
  border: 0.1px solid gainsboro;
  margin: 0;
}

#slider-value-display {
  font-size: 20px;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
}

footer {
  text-align: center;
  margin-bottom: 40px;
}
